.module-wrap {
  overflow: auto;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px;
}
.module-wrap .module-container .result {
  box-sizing: border-box;
  padding: 10px;
}
